#banner {
  width: 100%;
  text-align: center
}

li {
  list-style:none;
  float: left;
  padding-right: 3vw;
}

header {
  padding-bottom: 3vh;
  background: #005;
  margin-bottom: 10px;
}

html {
  text-align: center;
}
body {
	margin: 0px;
}
header h1 {
	padding-top:10px;
	letter-spacing: 10px;
	font-family: monospace;
	color: white;
}
header a {
	text-decoration: none;
	color: white;
}
header a:hover{
	text-decoration: underline;
}
.chatbox {
	width: 300px;
	height: 100px;
	position: fixed;
	right: 0px;
	bottom: 0px;
	border: solid #005;
}
#rr {
	background-color: #005;
	filter: invert(100%);
}